<h1>This is page for "new"</h1>

<form action="" method="">
  <label>Course Name</label>
  <input>
  <label>Instruction</label>
  <input type="">
  <label>Serving</label>
  <input type="text">

</form>

<%= render 'form' %>