<h1>This is page for "new"</h1>

<form action="/recipes" method="post">
  <label>Course Name</label>
  <input>
  <label>Instruction</label>
  <input>
  <label>Serving</label>
  <input>
  <input type="submit" value="Create">
</form>

