<h1>This is page for "show"</h1>

<ul>
  <li>
    <strong>Recipe Name:</strong>
    <%= @recipe.name %>
  </li>
  <li>
    <strong>Instructions:</strong>
    <%= @recipe.instructions %>
  </li>
  <li>
    <strong>Serving:</strong>
    <%= @recipe.servings %>
  </li>

</ul>
