<!DOCTYPE html>
<html>
<head>
  <title>RecipeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <span><a href = "/recipes">All Recipes</a></span>
  <span><a href = "/courses">All Courses</a></span>
</nav>

<%= yield %>

</body>
</html>
