<h1>Courses - index page</h1>

<table>
  <tbody>
    <tr>
      <th>Courses</th>
    </tr>
    <% @courses.each do |element| %>
      <tr>
        <td><%= element.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>